{% extends "base.html.jinja" %}

{% block title %}MeetSync{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', path='styles/main.css') }}" />
  <script src="{{ url_for('static', path='scripts/main.js') }}" type="module"></script>
{% endblock %}

{% block content %}
  {% include "users_side_bar.html.jinja" %}

  <main class="main-content no-user-selected ">
    <header>
      <div class="header-bar">
        <h1>MeetSync</h1>
        <button type="button" class="generate hidden">Generate</button>
      </div>
      <div class="user-control">
        <label for="user-name">Name:</label>
        <input
          id="user-name"
          type="text"
          placeholder="Enter current user's name"
          required
        />
        <label for="user-priority">Priority:</label>
        <input
          id="user-priority"
          type="number"
          placeholder="Enter current user's priority"
          value="1"
          min="0"
          required
        />
      </div>
    </header>

    {% include "schedule.html.jinja" %}

    <footer>
      <div id="flash-messages">
      <template>
        <div class="alert alert-type">
          <img class="alert-icon" src="{{ url_for('static', path='styles/images/error.png') }}" alt="Status icon" />
          <div>
            <strong>STATUS</strong>
            <span>message</span>
          </div>
          <img class="alert-close" src="/static/styles/images/close.png" alt="Close" />
        </div>
      </template>
    </div>
    </footer>
  </main>
{% endblock %}
