<aside id="user-sidebar">
  <h1>Settings</h1>
  <div class="settings-section">
    <label for="meeting-length-input">Meeting Length (in minutes)</label>
    <input id="meeting-length-input" type="number" value="15" min="0" max="1440" step="15" />
  </div>
  <h1>Users</h1>
  <div class="create-user-section">
    <label for="create-user-input">Add user</label>
    <input id="create-user-input" type="text" placeholder="Enter new user's name" />
    <div class="user-buttons">
      <img id="import-users" title="Import Users" src="{{ url_for('static', path='styles/images/import.png') }}" />
      <img id="export-users" title="Export Users" src="{{ url_for('static', path='styles/images/export.png') }}" />
      <button type="button" class="create">Create</button>
    </div>
  </div>

  <ul class="user-list">
    <template>
      <li class="item">
        <div class="name"></div>
        <div class="list-item-options">
          <img class="delete" src="{{ url_for('static', path='styles/images/delete.png') }}" />
          <button type="button" class="select">Select</button>
        </div>
      </li>
    </template>
    <li class="no-users-message">No users</li>
  </ul>
</aside>
