<aside id="user-sidebar">
  <header><h1>Users</h1></header>
  <div class="settings-section">
    <label for="meeting-length-input">Meeting Length (in mintues)</label>
    <input id="meeting-length-input" type="number" value="15" min="0" max="1440" step="5"/>
  </div>
  
  <div class="create-user-section">
    <label for="create-user-input">Add user</label>
    <input id="create-user-input" type="text" placeholder="Enter new user's name" />
    <button type="button" class="create">Create</button>
    <div id="create-user-feedback" class="create-user-feedback" aria-live="polite"></div>
  </div>

  <ul class="user-list">
    <template>
      <li class="item">
        <div class="name"></div>
        <div class="list-item-options">
          <img class="delete" src="{{ url_for('static', path='styles/images/delete.png') }}" />
          <button type="button" class="select">Select</button>
        </div>
      </li>
    </template>
    <li class="no-users-message">No users</li>
  </ul>
</aside>
