@import "./variables.css";
@import "./user-side-bar.css";
@import "./schedule.css";

/* Global Styles */

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Main Content Styles */
main.main-content.no-user-selected {
  > header > .user-control{
    display: none;
  }
  > .availability-schedule {
    display: none;
  }
}

/* Prevents sidebar from overlapping main content */
main.main-content {
  margin-left: 16.25rem;
  padding: 1rem;
}

.main-content > header > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  > h1 {
    font-size: 1.5rem;
  }
  > .submit {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    background: var(--green-7);
  }
}

.user-control {
  margin-bottom: 1rem;
}

.user-control > input {
  padding: 0.5rem;
  border: 1px solid var(--gray-3);
  border-radius: 0.25rem;
}

#user-priority {
  width: 5rem;
  margin-left: 0.5rem;
}

.user-control > button.save {
  background: var(--blue-7);
  color: white;
  border: none;
  padding: 0.45rem 0.75rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
}
