@import "./variables.css";
@import "./user-side-bar.css";
@import "./schedule.css";

/* Global Styles */

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.98);
  }
}

.active {
  background-color: rgba(52, 58, 64, 0.08) !important;
  box-shadow: 0 0 0 2px var(--gray-8) !important;
}

.hidden {
  display: none !important;
}

/* Main Content Styles */
main.main-content.no-user-selected {
  > header > .user-control,
  > .availability-schedule {
    display: none;
  }
}

/* Prevents sidebar from overlapping main content */
main.main-content {
  margin-left: 16.25rem;
  padding: 1rem;
}

.main-content > header > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  > h1 {
    font-size: 1.5rem;
  }

  > .generate {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background: var(--green-7);
  }
}

.user-control {
  margin-bottom: 1rem;
}

.user-control > input {
  padding: 0.5rem;
  border: 1px solid var(--gray-3);
  border-radius: 0.25rem;
}

#user-priority {
  width: 5rem;
  margin-left: 0.5rem;
}

.user-control > button.save {
  background: var(--blue-7);
  color: white;
  border: none;
  padding: 0.45rem 0.75rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
}

/* Alert Styles */
@keyframes alert-slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.alert {
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  padding: 1rem;
  border: 0.15rem solid transparent;
  border-radius: 0.25rem;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 50vw;
  margin: 1.5rem;
  transform: translateY(0);
  opacity: 1;
  animation: alert-slide-up 0.5s cubic-bezier(0.4, 0.2, 0.2, 1);

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  span {
    display: flex;
  }

  strong {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .alert-close {
    opacity: 0.25;
    transition: opacity 0.2s;
    margin-left: auto;
    cursor: pointer;
    width: 0.75rem;
    height: 0.75rem;

    &:hover {
      opacity: 1;
    }
  }
}

.alert-success {
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffecb5;
  color: #664d03;
}

.alert-error {
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
}

/* Popup Styles */
.main-content > .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.main-content > .popup-overlay > .popup {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 25%;
  aspect-ratio: 3/1;
  max-width: 50%;
  max-height: 33%;
  padding: 1.5rem;
  border: 0.25rem dashed var(--stone-4);
  border-radius: 0.5rem;
  background: white;
  display: flex;
  flex-direction: column;

  > .popup-message {
    display: flex;
    background: var(--gray-3);
    border-radius: 0.5rem;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    padding: 0.5rem;
    justify-content: flex-start;
  }

  img {
    width: 5rem;
    height: 5rem;
  }

  span {
    white-space: pre-line;
    font-size: 1.25rem;
  }

  .choices {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: flex-end;
    border-radius: 0.25rem;

    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.25rem;
      background: var(--stone-4);
      color: white;
    }

    button.confirm {
      background: var(--blue-7);
    }

    button.warning {
      background: var(--yellow-7);
    }

    button.destructive {
      background: var(--red-7);
    }

    button.cancel {
      background: var(--gray-5);
    }
  }
}
