@import "./variables.css";
@import "./user-side-bar.css";
@import "./schedule.css";

/* Global Styles */

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Main Content Styles */

/* Prevents sidebar from overlapping main content */
main.main-content {
  margin-left: 16.25rem;
  padding: 1rem;
}

.main-content > header > h1 {
  font-size: 1.5rem;
}

.user-name-control {
  margin-bottom: 1rem;
}

#user-name {
  padding: 0.5rem;
  border: 1px solid var(--gray-3);
  border-radius: 0.25rem;
}

.user-name-control > button.save {
  background: var(--blue-7);
  color: white;
  border: none;
  padding: 0.45rem 0.75rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
}
