@import "./variables.css";
@import "./user-side-bar.css";
@import "./schedule.css";

/* Global Styles */

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Main Content Styles */
main.main-content.no-user-selected {
  > header > .user-control {
    display: none;
  }
  > .availability-schedule {
    display: none;
  }
}

/* Prevents sidebar from overlapping main content */
main.main-content {
  margin-left: 16.25rem;
  padding: 1rem;
}

.main-content > header > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  > h1 {
    font-size: 1.5rem;
  }

  > .generate {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background: var(--green-7);
  }
}

.user-control {
  margin-bottom: 1rem;
}

.user-control > input {
  padding: 0.5rem;
  border: 1px solid var(--gray-3);
  border-radius: 0.25rem;
}

#user-priority {
  width: 5rem;
  margin-left: 0.5rem;
}

.user-control > button.save {
  background: var(--blue-7);
  color: white;
  border: none;
  padding: 0.45rem 0.75rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
}

/* Alert Styles */
@keyframes alert-slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.alert {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  border: 0.15rem solid transparent;
  border-radius: 0.25rem;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 50vw;
  margin: 1.5rem;
  transform: translateY(0);
  opacity: 1;
  animation: alert-slide-up 0.5s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.alert-success {
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
}

.alert-error {
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
}

.alert img {
  width: 1.5rem;
  height: 1.5rem;
}

.alert span {
  display: flex;
}

.alert strong {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.alert .alert-close {
  opacity: 0.25;
  transition: opacity 0.2s;
  margin-left: auto;
  cursor: pointer;
  width: 0.75rem;
  height: 0.75rem;

  &:hover {
    opacity: 1;
  }
}
