:root {
  --cell-h: 1rem;
  --cell-w: 7.5rem;
  --border: 1px solid var(--stone-3);
  --cell-fill: rgba(37, 99, 235, 0.125);
  --cell-fill-outline: rgb(37, 99, 235); /* selection outline/focus */
  --cell-fill-tentative: rgba(255, 165, 0, 0.125);
  --cell-fill-outline-tentative: rgb(255, 165, 0); /* selection outline/focus */
  --cell-fill-available: white;
  --row-header-w: 68px;
}

.availability-schedule {
  font-family: system-ui, sans-serif;
  max-width: 56.25rem;
  width: fit-content;
}

/* Days Header Row */

.availability-schedule > .days {
  padding-left: var(--row-header-w);
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
  border-bottom: var(--border);
  max-width: max-content;

  display: grid;
  grid-template-columns: repeat(5, var(--cell-w));

  > .label {
    padding: 0.5rem;
    text-align: center;
    font-weight: var(--font-weight-6);
  }
}

/* Schedule Container: Grid Body & Selectors Legend */

.schedule-container {
  width: fit-content;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.schedule-container > .body {
  display: grid;
  grid-template-columns: var(--row-header-w) 1fr;
  max-height: 32.5rem;
  width: fit-content;
  overflow: auto;
}

.schedule-container > .body > .times {
  display: grid;
  grid-template-rows: repeat(8, calc(var(--cell-h) * 4));
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
  border-right: var(--border);

  > .label {
    padding: 2px 6px;
    font-size: 0.75rem;
    color: var(--gray-8);
    border-bottom: var(--border);
  }
}

.schedule-container > .body > .slots {
  display: grid;
  grid-template-columns: repeat(5, var(--cell-w));
  grid-auto-rows: var(--cell-h);
  position: relative;
}

.schedule-container > .body > .slots > .slot {
  border-right: var(--border);
  border-bottom: var(--border);
  cursor: crosshair;

  &.selected {
    background: var(--cell-fill);
    box-shadow: inset 0 0 0 1px var(--cell-fill-outline);
  }
  &.selected-tentative {
    background: var(--cell-fill-tentative);
    box-shadow: inset 0 0 0 1px var(--cell-fill-outline-tentative);
  }
  &:focus {
    outline: 2px solid var(--cell-fill-outline);
    outline-offset: -2px;
  }
}

.schedule-container > .selectors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  button.selector {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 1px solid lightgray;
    border-radius: 0.5rem;
    box-shadow: 2.5px 2.5px 5px darkgray;
    background-color: white;

    padding: 0.5rem;
  }

  .box {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
  }
  > button.selector[data-type="busy"] > .box {
    background-color: var(--cell-fill-outline);
  }
  > button.selector[data-type="tentative"] > .box {
    background-color: var(--cell-fill-outline-tentative);
  }
  > button.selector[data-type="available"] > .box {
    background-color: var(--cell-fill-available);
  }
}

.schedule-container > .selectors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  button.selector {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 1px solid lightgray;
    border-radius: 0.5rem;
    box-shadow: 2.5px 2.5px 5px darkgray;
    background-color: white;

    padding: 0.5rem;
  }

  > .selector > .box {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
  }
  > .selector[data-type="busy"] > .box {
    background-color: var(--cell-fill-outline);
  }
  > .selector[data-type="tentative"] > .box {
    background-color: var(--cell-fill-outline-tentative);
  }
  > .selector[data-type="available"] > .box {
    background-color: var(--cell-fill-available);
  }
}

.availability-schedule > .controls {
  margin-top: 0.5rem;
  display: flex !important;
  justify-content: space-between;

  button {
    background: var(--blue-7);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
}
